<% include ./header.ejs %>

      <% for(var i = 0; i < list.length; i++){ %>
        <div class = "col-lg-4">
          <h1>
            <%=list[i].title %>
          </h1>
          <a href="/book/<%= list[i].id %>/edit"><button type="submit">Edit</button></a>
        </div>
      <% } %>

<% include ./footer.ejs %>
