<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  </head>

  <body>
    <nav>
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation"><a href="/submit">submit</a></li>
        <li role="presentation"><a href="/delete">Delete</a></li>
      </ul>
    </nav>
</html>
