<% include ./header.ejs %>

    Submit

    <form method="POST" action="submit">
      <input type="text" name = "title" placeholder = "title"></input>
      <input type="text" name = "author" placeholder = "author"></input>
      <br>
      <input type="submit"></input>
    </form>

<% include ./footer.ejs %>
